/* Colors */

:root {
  --Neutral-900: hsl(233,18%,9%);
  --Neutral-800: hsl(235,14%,15%);
  --Neutral-700: hsl(235,13%,19%);
  --Neutral-600: hsl(234,14%,29%);
  --Neutral-200: hsl(240,26%,92%);
  --Neutral-100: hsl(240,24%,96%);
  --Neutral-0: hsl(0,0%,100%);

  --Blue-400: hsl(274,90%,80%);
  --Blue-500: hsl(274,90%,73%);

  --Yellow-500: hsl(37,100%,50%);

  --Orange-500: hsl(15,99%,67%);
  --Orange-800: hsl(15,99%,43%);
}

/* Font Presets */

.textPreset1 {
  font-size:64px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: 700;
}

.textPreset1M {
  font-size:40px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: 700;
}

.textPreset2 {
  font-size:24px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 600;
}

.textPreset3 {
  font-size:20px;
  line-height: 140%;
  letter-spacing: -0.6px;
  font-weight: 400;
}

.textPreset4 {
  font-size:16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  font-weight: 400;
}

/* General CSS*/

* { box-sizing: border-box; font-family: "DM Sans"}

body {
  background-image: url("./assets/images/bg-dark-theme.png");
  background-position: center center;
  background-size: cover;
}

html, body {
  height: 100%;
  margin:0;
  padding:0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Containers */

.outer_container {
  min-height: 100vh;
  width: auto;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.inner_container {
  width: 990px;
  height: auto;
  user-select: none;
  display:flex;
  flex-flow: column nowrap;
  gap: 48px;
}

/* Inner */

.iconDiv {
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconDivDark {
  background-color: var(--Neutral-700);
}

.iconDivLight {
  background-color: var(--Neutral-100);
}

.checkBoxAlligner {
  width: 100%;
  height: 31px;
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.text_area {
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--Neutral-800);
  border-color: var(--Neutral-700);
  border-width: 2px;
  resize: none;
  color: var(--Neutral-200);
  transition: 0.2s ease-in;
}

.text_area_light {
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--Neutral-100);
  border-color: var(--Neutral-200);
  border-width: 2px;
  resize: none;
  color: var(--Neutral-700);
  transition: 0.2s ease-in;
}

.text_area:hover {
  background-color: var(--Neutral-700);
  border-color: var(--Neutral-600);
}

.text_area_light:hover {
  background-color: var(--Neutral-200);
}

.text_area:focus {
  outline: none;
  background-color: var(--Neutral-800);
  border-color: var(--Blue-500);
  box-shadow: 0 0 10px 0 var(--Blue-400);
}

.text_area_light:focus {
  outline: none;
  background-color: var(--Neutral-200);
  border-color: var(--Blue-500);
  box-shadow: 0 0 10px 0 var(--Blue-400);
}

.color {
  color: var(--Neutral-200);
}

.colorLight {
  color: var(--Neutral-900);
}


.checkBox {
  display:none;
}

.checkBoxLabel {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--Neutral-200);
  border-radius: 4px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items:center;
  transition: 0.2s ease-in;
}

.checkBoxLabelLight {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--Neutral-600);
  border-radius: 4px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items:center;
  transition: 0.2s ease-in;
}

.checkBoxChecked {
  background-color: var(--Blue-400);
  border: none;
}

.checkBoxChecked:hover {
  background-color: var(--Blue-500);
}

.checkBoxChecked:focus {
  outline: none;
  border: 2px solid var(--Neutral-0);
  box-shadow: 0 0 0 2px var(--Blue-400);
  
}

.scblm {
  margin-left: 24px;
}

/* Footer */

.statsContainer {
  display:flex;
  flex-flow: row nowrap;
  gap: 16px;
}

.item {
  overflow: hidden;
  position: relative;
  flex: 1;
  height: 150px;
  padding: 16px;
  border-radius: 12px;
}

.totalCharacterDiv {
  background-color: var(--Blue-400);
}

.WordCountDiv {
  background-color: var(--Yellow-500);
}

.SentenceCountDiv {
  background-color: var(--Orange-500);
}

.BgImg {
  position: absolute;
  right: -32px;
  bottom: 0;
}

.itemNumber {
  position: relative;
  z-index: 1;
  margin: 0;
  color: var(--Neutral-900);
}

.itemHeader {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-top: 8px;
  color: var(--Neutral-900);
}

.infoArea {
  margin-top: 24px;
}

.infoArea h5 {
  color:var(--Neutral-200);
  margin: 0;
}

.infoText {
  display: inline-block;
  margin-top: 20px;
  color: var(--Neutral-200);
}

.error_div {
  display:flex;
  align-items: center;
  gap: 8px;
}

.error_div span{
  color: var(--Orange-800);
}

.chLimitInputDark {
  width: 55px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--Neutral-600);
  border-radius: 6px;
  padding: 4px 12px;
  color: var(--Neutral-0);
}

.chLimitInputLight {
  width: 55px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--Neutral-600);
  border-radius: 6px;
  padding: 4px 12px;
  color: var(--Neutral-900);
}

.displayNone {
  display:none;
}

.displayBlock {
  display:block;
}

.progressBarContainer {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.progressBarLetter {
  color:var(--Neutral-200);
  white-space: nowrap;
}

.progressBarLetterDark {
  color:var(--Neutral-900);
  white-space: nowrap;
}

.progressBar {
  width: 859px;
  height: 12px;
  background-color: var(--Neutral-800);
  border-radius: 999px;
}

.progressBarValue {
  width:25%;
  background-color: var(--Blue-400);
  height: 12px;
  border-radius: 999px;
}

.letterDensityContainer {
  margin-top: 20px;
  display:flex;
  flex-flow:column nowrap;
  gap: 12px;
}

.seeMoreCont {
  margin-top: 20px;
}

.seeMoreButton{
  border:none;
  background: none;
  cursor: pointer;
  padding:0;
}

.seeMoreDark {
  color: var(--Neutral-200);
}

.seeMoreLight {
  color:var(--Neutral-900);
}

.innerAlligner {
  display:flex;
  flex-flow: row nowrap;
  align-items:center;
}

.innerAlligner1 {
  display:flex;
  flex-flow: row nowrap;
  align-items:center;
}



@media screen and (max-width: 1024px) {
  .inner_container {
    width: 750px;
  }
  .progressBar {
    width: 640px;
  }
}

@media screen and (max-width: 576px) {
  .inner_container {
    width: 350px;
  }
  .progressBar {
    width: 100%;
  }

  .textPreset1 {
    font-size: 40px;
    letter-spacing: -1px;
  }

  .logo {
    width: 184px;
    height:30px;
  }

  .iconDiv {
    width:32px;
    height:32px;
  }
  
  .checkBoxAlligner {
    width: 100%;
    height: auto;
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
  }

  .scblm {
    margin:0;
  }

  .innerAlligner1 {
    display:flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    gap: 8px;
  }

  .innerAlligner {
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content: flex-start;
  } 

  .chLimitInputDark {
  width: 55px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--Neutral-600);
  border-radius: 6px;
  padding: 4px 12px;
  color: var(--Neutral-0);
  margin-left: 16px;
}

.chLimitInputLight {
    width: 55px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--Neutral-600);
    border-radius: 6px;
    padding: 4px 12px;
    color: var(--Neutral-900);
    margin-left: 16px;
  }

  .statsContainer {
    display:flex;
    flex-flow: column nowrap;
    gap: 16px;
  }

  .progressBar {
    width: 250px;
  }
}











